---
import { scanDirectory } from '@/util/files';
import FileItem from './FileItem.astro';

interface Props {
    path: string,
}

const { path } = Astro.props;

const isRoot = path === '/';
const items = scanDirectory(path);

if (!isRoot) items.push({ path: '../', type: 'directory' });
---

{!items ? (
    <p>This directory is empty.</p>
) : (
    <ul class="file-list">
        {items
            .filter(v => v.path)
            .sort((a, b) => a.type.localeCompare(b.type) || a.path.localeCompare(b.path))
            .map(item => {
                return (
                    <FileItem parent={path} {...item} />
                );
            })
        }
    </ul>
)}

<style>
    .file-list { list-style: none; padding: 0; }
</style>