---
import { scanDirectory } from '@/util/files';
import FileItem from './FileItem.astro';

interface Props {
    path: string,
}

const { path } = Astro.props;

const isRoot = path === '/';
const items = scanDirectory(path);

if (!isRoot) items.push({ path: '../', type: 'directory' });
---

{!items ? (
    <p>This directory is empty.</p>
) : (
    <ul class="file-list">
        {items
            .filter(v => v.path)
            .sort((a, b) => a.type.localeCompare(b.type) || a.path.localeCompare(b.path))
            .map(item => {
                return (
                    <FileItem {...item} />
                );
            })
        }
    </ul>
)}

<style>
    .file-list { list-style: none; padding: 0; }
    
    .file-name { flex-grow: 1; }
    .file-icon { margin-right: 10px; width: 24px; text-align: center; }
    .file-item { padding: 10px; margin: 5px 0; background: white; border: 1px solid #eee; border-radius: 4px; display: flex; align-items: center; }
    .file-item:hover { background: #f9f9f9; }
</style>